<!-- 
  <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="Styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <p class="pk">Mis pokemones</p>
      <h1>¿QUE TIPO ES TU POKEMON?</h1>
    </header>
    <div id="cajabuscador">
       <input type="text" name="BUSCAR" placeholder="Nombre Del Pokemon" class="buscar" >

     <input type="submit" name="BUSCAR" value="BUSCAR" class="buton">

    </div>

    <h3 >Mis Resultados</h3>

   <div class="contenedor">

    <div class="contenedor1">
      <div class="barra1">
      </div>

      <div class="barra1-1">
      </div>
    </div>

    <div class="contenedor2">
      <div class="barra2">
      </div>

      <div class="barra2-1">
        
      </div>
    </div>

   </div>

   <footer>
     <p>Diseñado por Jonath Mercado @2021</p>
   </footer>

    
  </body>
</html>

 -->